<div class="second-body">
  <div class="todo-container">
    <!-- Header -->
    <div class="todo-header">
      <h1>Roadmap</h1>
      <h6>Powered by Ferhat Mete</h6>
    </div>
    <!-- Inputs -->
    <form (ngSubmit)="addTask()" #taskForm="ngForm">
      <div class="todo-inputs">
        <div class="todo-inputs-first">
          <div>
            <label for="taskName">Task Name</label>
            <input
              [(ngModel)]="taskName"
              name="taskName"
              id="taskName"
              placeholder="Enter Task Name"
              required
              #taskNameInput="ngModel"
            />
          </div>
          <div>
            <label for="taskName">Task Detail</label>
            <input
              [(ngModel)]="taskDetail"
              name="taskDetail"
              id="taskDetail"
              placeholder="Enter Task Detail"
              required
              #taskDetailInput="ngModel"
            />
          </div>
          <div>
            <label for="author">Author</label>
            <select
              [(ngModel)]="author"
              name="author"
              id="author"
              aria-placeholder="Author"
              required
              #authorNameInput="ngModel"
            >
              <option value="Ferhat Mete">Ferhat Mete</option>
              <option value="Tolga Işık">Tolga Işık</option>
              <option value="Umut Bektaş">Umut Bektaş</option>
            </select>
          </div>
          <div>
            <label for="priority">Priority</label>
            <select
              [(ngModel)]="priority"
              name="priority"
              id="priority"
              aria-placeholder="Priority"
              required
              #authorPriorityInput="ngModel"
            >
              <option value="highest">Highest</option>
              <option value="high">High</option>
              <option value="low">Low</option>
              <option value="lowest">Lowest</option>
            </select>
          </div>
          <button type="submit">Add Task</button>
        </div>
      </div>
    </form>

    <!-- Todo Containers -->
    <div class="total-tasks">
      <h3>Total Tasks: {{ countTasks() }}</h3>
    </div>
    <div class="todo-containers">
      <div class="todo-tasks task-list-container task-list-container-scroll">
        <div class="header">
          <h3>Todo {{ tasks.length }}</h3>
        </div>
        <div>
          <ul>
            <li
              *ngFor="let task of tasks"
              [ngClass]="taskStatus(task)"
              (click)="openModal(task)"
            >
              <p class="task-name">
                <strong>{{ task.name }}</strong>
              </p>
              <p>Task: {{ task.id }}</p>
              <p class="task-author">{{ task.author }}</p>
              <div class="button-area">
                <button (click)="moveToOngoing(task)">Completed</button>
                <button (click)="deleteTask(task)">Delete</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="ongoing-tasks task-list-container task-list-container-scroll">
        <div class="header">
          <h3>Ongoing {{ ongoingTasks.length }}</h3>
        </div>
        <div>
          <ul>
            <li
              *ngFor="let task of ongoingTasks"
              [ngClass]="taskStatus(task)"
              (click)="openModal(task)"
            >
              <p>
                <strong>{{ task.name }}</strong>
              </p>
              <p>Task: {{ task.id }}</p>
              <p>{{ task.author }}</p>
              <div class="button-area">
                <button (click)="moveToTesting(task)">Completed</button>
                <button (click)="deleteTask(task)">Delete</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="testing-tasks task-list-container task-list-container-scroll">
        <div class="header">
          <h3>Testing {{ testingTasks.length }}</h3>
        </div>
        <div>
          <ul>
            <li
              *ngFor="let task of testingTasks"
              [ngClass]="taskStatus(task)"
              (click)="openModal(task)"
            >
              <p>
                <strong>{{ task.name }}</strong>
              </p>
              <p>Task: {{ task.id }}</p>
              <p>{{ task.author }}</p>
              <div class="button-area">
                <button (click)="moveToDone(task)">Completed</button>
                <button (click)="deleteTask(task)">Delete</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="done-tasks task-list-container task-list-container-scroll">
        <div class="header">
          <h3>Done {{ doneTasks.length }}</h3>
        </div>
        <div>
          <ul>
            <li
              *ngFor="let task of doneTasks"
              [ngClass]="taskStatus(task)"
              (click)="openModal(task)"
            >
              <p>
                <strong>{{ task.name }}</strong>
              </p>
              <p>Task: {{ task.id }}</p>
              <p>{{ task.author }}</p>
              <div class="button-area">
                <button (click)="deleteTask(task)">Delete</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Todo Modal -->
    <div class="modal" [ngClass]="{ show: showModal }">
      <form (ngSubmit)="updateTask()">
        <div *ngIf="selectedTask" class="modal-content">
          <div class="modal-close">
            <button (click)="closeModal()">
              <img src="assets/icons/close.svg" alt="Close" />
            </button>
          </div>
          <!-- Update task -->
          <div class="modal-inputs">
            <div>
              <label for="taskName">Task Name</label>
              <input
                [(ngModel)]="selectedTask.name"
                name="taskName"
                id="taskName"
                placeholder="Enter Task Name"
                required
                #taskNameInput="ngModel"
              />
            </div>
            <div>
              <label for="author">Author</label>
              <select
                [(ngModel)]="selectedTask.author"
                name="author"
                id="author"
                aria-placeholder="Author"
                required
                #authorNameInput="ngModel"
              >
                <option value="Ferhat Mete">Ferhat Mete</option>
                <option value="Tolga Işık">Tolga Işık</option>
                <option value="Umut Bektaş">Umut Bektaş</option>
              </select>
            </div>
            <div>
              <label for="taskName">Details</label>
              <input
                [(ngModel)]="selectedTask.taskDetail"
                name="taskDetails"
                id="taskDetails"
                placeholder="Details"
                required
                #taskDetailsInput="ngModel"
              />
            </div>
            <div>
              <label for="priority">Priority</label>
              <select
                [(ngModel)]="selectedTask.priority"
                name="priority"
                id="priority"
                aria-placeholder="Priority"
                required
                #authorPriorityInput="ngModel"
              >
                <option value="highest">Highest</option>
                <option value="high">High</option>
                <option value="low">Low</option>
                <option value="lowest">Lowest</option>
              </select>
            </div>
            <button type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
